.upload-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 1rem;
  padding: 20px;
}

.file-input__controls {
  text-align: center;
  margin-bottom: 1rem;
}

.file-input__control label {
  color: var(--color-text-dark);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.file-input__control label:active,
label:hover {
  color: #1e88e5;
}

.file-input__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  overflow: hidden;
}

.file-input__actions {
  text-align: right;
}

.submit-btn {
  background-color: var(--color-secondary);
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  align-items: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}
.submit-btn:active {
  background-color: #442c2e;
  box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.5);
  transform: translateY(3px);
}
