.upload-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #FEFEFE;
    margin: 5%;
    padding: 20px;
}


.file-input__controls {
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.file-input__control label {
    margin-left: -0.25rem;
    padding: 0 0.25rem;
    margin:10px;
    font-size: 0.875rem;
}

.file-input__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  overflow: hidden;

}

.file-input__actions {
  text-align: right;
}

.submit-btn{
    background-color: #f9aa33;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    align-items: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
}
.submit-btn:active{
    background-color: #442c2e;
    box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.5);
    transform: translateY(3px);
}